.dee :hover {
  background-color: brown;
    
  }

/* .dee:focus {
   background-color: rgb(50, 42, 165);
   
       } */

.logo {
  
  margin-top:5px    ;
  
  transform: translate(-40%);
  /* Adjust width as needed */
  /* Maintain aspect ratio */
}
.parent {
  
  
  position: fixed;
  top: 0;
  z-index: 10000;
  
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the parent div */
  border: 1px solid black; /* Just for visualization */
  overflow-y: auto;
  overflow-x :hidden;
 
  
}
.sidebar-phone {
  height: 100vh; /* Set the height of the sidebar to 100% of the viewport height */
  position: fixed; /* Position the sidebar fixed to the left */
  top: 0; /* Position the sidebar at the top of the viewport */
  left: 0; /* Position the sidebar at the left edge of the viewport */
  z-index: 1000; /* Set a high z-index to ensure the sidebar appears above other content */
}

.child {
  
  padding: 20px;
}

.bottom-div {
  margin-top: auto;
  ;
  
}
.sidebar::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #8089b1; /* Color of the scrollbar handle */
  border-radius: 2px; /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
.active {
  background-color: rgb(109, 7, 7); /* Example of styling the active link */
}
/* NavLink:focus {
  outline: none; /* Remove default focus outline */
  /* Add your custom focus styles here *
  background-color: #ebebeb;
}
 */
 .NavLink {
  text-decoration: none; /* Remove underline from NavLink components */
}