.navbar {

  
  transition: all 0.3s ease; /* Smooth transition for the navbar */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.685); /* Shadow effect */
  position:fixed; 
  top: 0;

}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
}