.navbar {

  border-bottom: 1px;
  border-color: black;
  border-bottom-style: solid;
  
  position:fixed; 
  top: 0;
  font-size: 18px;
  height: 65px;

}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
}